<%= require('html!./partials/top.template.ejs') %>
    //<%= require('html!./partials/nav.template.ejs') %>
        <div ng-app="Olivia-TakeTwo">
            <div class="container-fluid">
                <take-two></take-two>
            </div>
        </div>
        <%= require('html!./partials/bot.template.ejs') %>